# API Configuration
PROJECT_NAME=MiniCRM
API_V1_STR=/api/v1

# CORS Configurations (comma-separated origins)
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# PostgreSQL Database Configuration
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=minicrm

# JWT Security Configurations (To be generated later)
# SECRET_KEY=your_secret_key_here
# ACCESS_TOKEN_EXPIRE_MINUTES=11520
